 .authorization {
    padding: 50px 0;
}
.form-row {
    display: flex;
    align-items: center;
}
.form-row {
    margin-bottom: 25px;
}
label {
    margin: 0;
    margin-right: 20px;
    /* margin-bottom: 25px; */
    font-weight: bold;
    font-size: 40px;
    /* line-height: 55px; */
    font-family: "Roboto", "Arial", sans-serif;
    width: 400px;
}
input {
    height: 56px;
    width: 50%;
    border-radius: 5px;
    border: 2px solid #363636;
}

input[type="submit"] {
    width: 200px;
    height: 54px;
    /* padding: 9px 15px; */
    border: 2px solid #363636;
    border-radius: 5px;
    background: inherit;
    /* transition: 1s; */
    transition: 0.5s;
    font: inherit;
}

input[type="submit"]:hover {
    color: #eee;
    background: #363636;
    transition: 0.5s;
}