/* Slider */
.slider{
    padding-top: 50px;
    margin-bottom: 50px;
}
.swiper-container {
    width: 100%;
    height: 310px;
}
.swiper-slide {
    display: flex;
    justify-content: space-between;
}
.slide-text {
    max-width: 60%;
    padding: 30px 0;
    margin-left: 10px;
}
h3.slide-title {
    font-weight: bold;
    font-size: 36px;
    font-family: "Roboto", "Arial", sans-serif;
    /* color: #363636; */
    margin-bottom: 40px;
  }
.slide-text p {
    font-weight: 500;
    line-height: 40px;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .slide-text a {
    display: block;
    max-width: 220px;
    height: 45px;
    margin-top: 25px;
    padding: 0 10px;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background: #fb565a;
    border-radius: 5px;
    line-height: 3.8;
  }
.slide-img {
    max-width: 300px;
    height: 100%;
    margin-right: 40px;
    display: flex;
    align-items: center;
}
.slide-img img {
    width: 100%;
}
/* popular */
.popular {
    padding: 50px 0;
}
.popular-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.popular-list {
    display: flex;
    justify-content: space-between;
}
.popular-item {
    max-width: 330px;
    display: flex;
    flex-direction: column;
}
.popular-item-lt {
    border: 1px solid #363636;
}
.popular-item-dt {
    border: 1px solid #eee;
}
.popular-item-img {
    max-width: 330px;
    max-height: 326px;   
    margin-bottom: 20px;
}
.popular-item-img-lt {
    border-bottom: 1px solid #363636;
}
.popular-item-img-dt {
    border-bottom: 1px solid #eee;
}
.popular-item-img img {
    width: 100%
}
.popular-text-row {
    display: flex;
    justify-content: space-between;
    margin: 0 4%;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
}
.popular-item-btn {
    height: 45px;
    max-width: 94%;   
    margin: 0 4%;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.popular-item-btn-lt {
    border: 1px solid #363636;
}
.popular-item-btn-dt {
    border: 1px solid #eee;
}
.popular-item-btn:hover {
    background: #363636;
    transition: 0.5s;
}
.popular-item-btn-dt:hover {
    background: #eee;
    transition: 0.5s;
}
.popular-item-btn a {
    text-align: center;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: #363636;
    font-weight: 500;
    line-height: 2.3;
}
.popular-item-btn-dt a {
    text-align: center;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: #eee;
    font-weight: 500;
    line-height: 2.3;
}
.popular-item-btn:hover a {
    color: #eee;
    transition: 0.5s;
}
.popular-item-btn-dt:hover a {
    color: #2A2D34;
    transition: 0.5s;
}
.video {
    padding: 50px 0;
}